/** variables */
$gallery-bg-color: #fafafa;
$img-border-color: #ddd;

.gallery {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gallery-bg-color;

  .header {
    padding-top: 5%;
    padding-bottom: 2%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: set_text_color($gallery-bg-color);

    line-height: 3em;

    font-family: $font-family;

    h3 {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      margin: 0;
      margin-bottom: 1.5rem;
    }

    h5 {
      font-size: 1rem;
      font-weight: 300;
      font-style: italic;
      color: set_text-color($gallery-bg-color);
    }
  }

  .gallery-inner {
    width: 70%;
    margin: 0 auto;
  }

  @media screen and (max-width: 1600px) {
    .gallery-inner {
      .photos_column {
        flex: 30%;
        max-width: 30%;
      }
    }
  }

  @media screen and (max-width: 1275px) {
    .gallery-inner {
      .photos_column {
        flex: 50%;
        max-width: 50%;
      }
    }
  }

  @media screen and (max-width: 850px) {
    .gallery-inner {
      .photos_column {
        flex: 100%;
        max-width: 100%;
      }
    }
  }
}
