//SmartPhones
@include mediaMobile {
  header {
    border-bottom: 0px;

    .menu-icon {
      opacity: 100;
    }

    .navbar {
      display: none;
    }
  }

  .hero {
    h1 {
      font-size: 4em;
    }

    p {
      font-size: 1em;
      margin: 1em 1em;
    }
  }
}

//Tablets and Small Laptops
@include mediaTablet {
  .menu-icon {
    opacity: 100;
  }

  .navbar {
    display: none;
  }
}

//Desktops and Laptops
@include mediaLaptop {
  .menu-icon {
    opacity: 0;
  }

  .navbar {
    display: block;
  }
}

//Wide Screens
@include mediaDesktop {
  .menu-icon {
    opacity: 0;
  }
}
