/* typography  */
$font-family: "Montserrat", Verdana, Geneva, sans-serif;
$font-family-secondary: "Raleway", Verdana, Geneva, sans-serif;

/* colors */
$background-color: #000;
$primary-color: #fff;
$secondary-color: #e3117c;
$terciary-color: #970952;
$light-text-color: #fff;
$dark-text-color: #5d5d5d;

/* breakpoints for responsiveness */
$breakpointDesktop: 1200px;
$breakpointLaptop: 960px;
$breakpointTablet: 768px;
$breakpointMobile: 500px;
